---
layout: layout.njk
---
<div class="elementor-element elementor-element-d583290 e-flex e-con-boxed e-con e-parent" data-id="d583290" data-element_type="container" id="aboutus" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-439bc15 e-con-full e-flex e-con e-child" data-id="439bc15" data-element_type="container">
            <div class="elementor-element elementor-element-e25c0bf elementor-widget elementor-widget-text-editor" data-id="e25c0bf" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <h1>{{ title }}</h1>
                </div>
            </div>
            <div class="elementor-element elementor-element-237eed7 elementor-widget elementor-widget-text-editor" data-id="237eed7" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <!-- We output content as markdown or formatted HTML -->
                    <div style="font-style: italic; font-weight: 600; font-size: 24px;">
                        {{ content | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-0223f92 e-con-full e-flex e-con e-child" data-id="0223f92" data-element_type="container">
            <div class="elementor-element elementor-element-8183918 e-con-full e-flex e-con e-child" data-id="8183918" data-element_type="container">
                {% for item in images %}
                <div class="elementor-element elementor-widget elementor-widget-image" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img loading="lazy" decoding="async" width="768" height="576" src="{{ item.image }}" class="attachment-medium_large size-medium_large" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
